#chat {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 100px;
    left: 0px;
    overflow: hidden;
}

#chat > #chatForm {
    margin-top: 0px;
    background-color: cadetblue;
}

#chat > #chatForm > #auth {
    color: white;
    font-size: 12px;
    padding-left: 50px;
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#chat > #preprocessing {
    margin-top: 10px;
    font-size: 18px;
    background-color: white;
    font-weight: normal;
}

#chat > #header {
    border-radius: 5px;
    background-color: coral;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

input[id="username"], input[id="password"] {
    margin-top: 8px;
    margin-left: 20px;
    margin-bottom: 8px;
    width: 250px;
    border-radius: 10px;
    border-width: 0px;
}

button[id="authenticate"] {
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
    width: 100px;
    background-color: darkgrey;
}

.resize {
    margin-top: 5px;
    width: 20px;
    height: 20px;
}